<section class="py-5">
    <div class="container px-4">
        <h2>Table Sub Categories</h2>
        <p-button class="mr-2" (click)="showModalDialog()" icon="pi pi-plus-circle" label="Add New"></p-button>
        
        <button type="button" pTooltip pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()" class="p-button-success"  pTooltip="XLS" tooltipPosition="bottom"></button>
 
      <div class="row"> 
        <table 
        mat-table   
        [dataSource]="dataSource" 
        class="mat-elevation-z8 mt-1">

          <!-- Name Column -->
          <ng-container matColumnDef="subCategoryName">
            <th mat-header-cell *matHeaderCellDef > Sub Category Name </th>
            <td mat-cell *matCellDef="let element"> {{element.SubCategoryName}} </td>
          </ng-container>
        
          <!-- Weight Column -->
          <ng-container matColumnDef="subCategoryDescription">
            <th mat-header-cell *matHeaderCellDef> Description </th>
            <td mat-cell *matCellDef="let element"> {{element.SubCategoryDescription}} </td>
          </ng-container>
                    <!-- Weight Column -->
          <ng-container matColumnDef="categoryName">
            <th mat-header-cell *matHeaderCellDef> Category Name </th>
            <td mat-cell *matCellDef="let element"> {{element.CategoryName.CategoryName}} </td>
          </ng-container>
        
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef >  </th>
            <td mat-cell *matCellDef="let element"> 
              <button class="border-0 bg-white m-lg-1" (click)="showUpdateForm(element.Id, element)"><mat-icon>edit</mat-icon></button>
              <button class="border-0 bg-white" (click)="confirmDelete(element.Id, element.SubCategoryName)"><mat-icon>delete</mat-icon></button>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        
        </table>
      </div>
          <mat-paginator [pageSizeOptions]="[5, 10, 20]"
          showFirstLastButtons 
          aria-label="Select page of periodic elements">
          </mat-paginator>
      </div>  
  </section>

<!-- dialog -->
<p-dialog header="Sub category details" [(visible)]="displayModal" [modal]="true" [style]="{width: '50vw'}"
  [draggable]="false" [resizable]="false">
  <p-divider></p-divider>
  <div class="form-body">
    <div class="row">
        <div class="form-holder">
            <div class="form-content">
                <div class="form-items">
                    <p>Fill in the data below</p>
                    <form class="requires-validation" novalidate>
                        <div class="col-md-12">
                            <input class="form-control" type="text" name="subCategoryName" placeholder="Sub Category Name" [(ngModel)] = "subCategory.SubCategoryName" required>
                             <div class="valid-feedback">Email field is valid!</div>
                             <div class="invalid-feedback">Email field cannot be blank!</div>
                        </div>
                        <div class="col-md-12">
                          <input class="form-control" type="text" name="subCategoryDescription" placeholder="Sub Category Description" [(ngModel)] = "subCategory.SubCategoryDescription" required>
                           <div class="valid-feedback">Password field is valid!</div>
                           <div class="invalid-feedback">Password field cannot be blank!</div>
                       </div>
                       <div class="col-md-12">
                        <select class="form-select mt-3" name="category" (change)= "ChangeCategory($event.target)"  [(ngModel)] = "subCategory.CategoryId" required>
                              <option selected disabled value="0">Category</option>
                              <option  *ngFor="let cate of categories" [value]="cate.Id">{{cate.CategoryName}}</option>
                       </select>
                        <div class="valid-feedback">You selected a position!</div>
                        <div class="invalid-feedback">Please select a position!</div>
                   </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
      <ng-template pTemplate="footer">
        <p-divider></p-divider>
        <button pButton pRipple (click)="saveCategory()" type="button" label="Submit" class="p-button-success"></button>
        <button pButton pRipple (click)="ResetForm()"  type="button" label="Cancel" class="p-button-danger"></button>
      </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text"></p-confirmDialog>
<p-toast></p-toast>
