        <!-- ========================= SECTION MAIN ========================= -->
    <section class="section-main bg padding-y">
    <div class="container">
    
    <div class="row">
        <aside class="col-md-3">
            <nav class="card" >
                <ul class="menu-category">
                    <li class="has-submenu" ><a >Phones</a>
                        <ul class="submenu" >
                            <li  *ngFor="let item of phones"><a (click)="onSelectSubcategory(item)" >{{item.subCategoryName}}</a></li>
                        </ul>
                    </li>
                    <li class="has-submenu" ><a >Accessories</a>
                        <ul class="submenu" >
                            <li *ngFor="let item of accessories"><a (click)="onSelectSubcategory(item)" >{{item.subCategoryName}}</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </aside> <!-- col.// -->
        <div class="col-md-9">
            <article class="banner-wrap">
                <img src="https://mixkit.imgix.net/video-templates/preview/mixkit-smartphone-promo-596-5.jpg?q=80&auto=format%2Ccompress" class="w-100 rounded">
            </article>
        </div> <!-- col.// -->
    </div> <!-- row.// -->
    </div> <!-- container //  -->
    </section>
    <!-- ========================= SECTION MAIN END// ========================= -->
    
    <!-- ========================= SECTION  ========================= -->
    <section class="section-name padding-y-sm">
    <div class="container">
    
    <header class="section-heading">
        <a (click)="ChangeSlice()" class="btn btn-outline-primary float-end">See all</a>
        <h2 class="section-title">Popular Products</h2>
    </header><!-- sect-heading -->
    <div class="row">
        <p-progressSpinner class="spinner" *ngIf="products.length == 0" [style]="{ width: '50px', height: '50px'}" styleClass="custom-spinner" strokeWidth="8" fill="var(--surface-ground)" animationDuration=".5s"></p-progressSpinner>
        <div class="col-md-3" *ngFor="let item of products | slice:0:sliceDefault;">
            <div class="card card-product-grid">
                <div (click)="onSelectProduct(item)">
                    <span  class="img-wrap"> <img  src="{{item.imageURL}}"> </span>
                    <figcaption class="info-wrap">
                        <strong class="title pointer-event">{{item.productName}}</strong>
                        <div class="price mt-1">Price: ${{item.price}}</div> <!-- price-wrap.// -->
                    </figcaption>
                </div>
                <div class="btnCart">
                    <button type="button" class="btn btn-success" (click)="AddCart(item)" > Cart </button>
                </div>   
            </div>
           
        </div> <!-- col.// -->
    </div> <!-- row.// -->
    
    </div><!-- container // -->
    </section>

    
    

    
    
    

