<!--single page-->
<section  class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center" >
            <div class="col-md-6"  *ngIf="product.ImageURL.length < 0">
                <p-progressSpinner class="spinner" [style]="{ width: '50px', height: '50px'}" styleClass="custom-spinner" strokeWidth="8" fill="var(--surface-ground)" animationDuration=".5s"></p-progressSpinner>
            </div>
            <div class="col-md-6" *ngIf="product.ImageURL.length > 0">
                <img class="card-img-top mb-5 mb-md-0" src="{{product.ImageURL}}" alt="...">
            </div>
            <div class="col-md-6">
                <!-- <div class="small mb-1">SKU: BST-498</div> -->
                <h1 class="display-5 fw-bolder">{{product.ProductName}}</h1>
                <div class="fs-5 mb-2">
                    <span class="text-decoration-line-through"></span>
                    <span> Price: ${{product.Price}}</span>
                    
                </div>
                <div class="fs-5 mb-3">
                    <span> Quantity: {{product.Quantity}}</span>
                </div>
                <!-- <p class="lead">{{product}}</p> -->
                <div class="d-flex cart ">  
                   <div div class="button_icon d-flex">
                        <i (click)="dec()" class="icon pi pi-minus"></i>
                        <div class="quantity"><span >{{quantity_buy}}</span></div>
                        <i  (click)="inc()" class="icon pi pi-plus"></i>
                    </div>
                </div>
                <!-- <div class="field col-12 md:col-3">
                    <p-inputNumber [(ngModel)]="value19" [showButtons]="true" buttonLayout="horizontal" spinnerMode="vertical" inputId="vertical"
                    decrementButtonClass="p-button-secondary" incrementButtonClass="p-button-secondary" incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus">
                    </p-inputNumber>
                </div> -->
                <div class="mt-3">
                    <button (click)="SelectProduct(product)" class="btn btn-outline-dark flex-shrink-0" type="button">
                        <i class="bi-cart-fill me-1"></i>
                        Add to cart
                    </button>
                </div>
            </div>
        </div>
    </div>
  </section>
  
  <section class="py-5 bg-light">
    <div class="container px-4 px-lg-5 mt-5">
        <h2 class="fw-bolder mb-4">Related products</h2>
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4">
            <div class="col mb-5"  *ngFor="let item of relateProducts | slice:0:4" (click) ="onSelectProduct(item)">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" height="250" src="{{item.ImageURL}}" alt="...">
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <div>
                            <strong class="fw-bolder mb-2">{{item.ProductName}}</strong>
                            </div>
                            <!-- Product price-->
                            <strong >Price: </strong>${{item.Price}}
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer border-top-0 bg-transparent justify-content-center">
                        <button class="btn btn-success">Cart</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>
