.cart {
    align-items: center;
    justify-content: space-between;
    width: 20%;
    
}
.button_icon {
    width: 20%;
    justify-content: space-between;
    align-items: center;
}
.icon {
    font-size: 1.5rem;
    color: black;
    background-color: white;
    border-radius: 50%;
    border-color: white;
    padding: 2px;
    border: 2px solid;
    cursor: pointer;
}
.icon:hover {
    background-color: #343a40;
}
.quantity {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
    font-weight: bold;
}