  <div class="align-items-center py-4 bg-gray-100 vh-50">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 px-lg-4"  >
            <div class="card">
              <div class="card-header px-lg-5">
                <div class="card-heading text-primary mb-0"><h3>FCS Login</h3></div>
              </div>
              <div class="card-body p-lg-5">
                <h3 class="mb-4">Hi, welcome back! 👋👋</h3>
                <p class="text-muted text-sm mb-5">Login into system by an account</p>
                <form id="loginForm" action="index.html">
                  <div class="form-floating mb-3">
                    <input class="form-control" id="floatingInput" type="email" placeholder="name@example.com" required>
                    <label for="floatingInput">Email address</label>
                  </div>
                  <div class="form-floating mb-3">
                    <input class="form-control" id="floatingPassword" type="password" placeholder="Password" required>
                    <label for="floatingPassword">Password</label>
                  </div>
                  <div class="form-check mb-3">
                    <input class="form-check-input" type="checkbox" name="remember" id="remember">
                    <label class="form-check-label" for="remember">Remember me</label>
                  </div>
                  <button class="btn btn-primary" type="button">Login</button>
                </form>
              </div>
              <div class="card-footer px-lg-5 py-lg-4">
                <div class="text-sm text-muted">Don't have an account? <a (click)="user_register()">Register</a>.</div>
              </div>
            </div>
          </div>
       <div class="col-lg-6 col-xl-5 ms-xl-auto px-lg-4 text-center text-primary"><img class="img-fluid mb-4" width="300" src="https://media.istockphoto.com/vectors/smartphone-online-shopping-concepts-vector-id1213907347?k=20&m=1213907347&s=612x612&w=0&h=vFwVURXWhYaxpxznUpm6u-8e_trufdbGhqc2XIqy6Ug=" alt="" style="transform: rotate(5deg)">
          <h1 class="mb-4">FPT Cellphone Store <br class="d-none d-lg-inline">nice to meet you</h1>
          <h3 class="lead text-muted">We will provide you with the best service</h3>
        </div>
      </div>
    </div>
</div>
